<div class= "container">
    <div class= "row">
        <div class= "col-md">
          <h3 class= "mt-5">ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない⽅も商品の閲覧はできますが、
          購⼊には会員登録が必要になります。</h3>
        </div>
    </div>
</div>